.image {
    margin: auto;
    display: block;
    margin-top: 20px;
    width: 10%;
}
.image img {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 20px;
}
.name {
    display: block;
    margin: auto;
    width: 60%;
    text-align: center;
}
.name h1 {
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.prop{
    margin: auto;
    width: 38%;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 20px;
    margin-top: 20px;
}
.prop h2{
    font-size: 15px;
}
.branch{
    margin: auto;
    width: 80%;
    text-align: center;
}
.branch h2 {
    font-size: 20px;
}
.college{
    margin: auto;
    width: 80%;
    text-align: center;
}
.college h2{
    font-size: 23px;
    font-style: italic;
}

.related {
    padding-top: 30px;
    width: 80%;
    margin: auto;
}
.related  div{
    display: inline-block;
    width: 32%;
    text-align: center;
    cursor: pointer;
    border: 2px solid #ddd;
    background-color: #eee;
    padding-top: 10px;
    padding-bottom: 15px;
    border-radius: 20px;
    height: 40px;
}
.related div a{
    text-decoration: none;
    color: black;
    font-size: 30px;
}
.social{
    width: 300px;
    margin: auto;
    padding-top: 60px;
}
.social a{
    width: 24%;
    display: inline-block;
    text-align: center;
}
.social img{
    width: 50px;
}
.copyright{
    margin-top: auto;
    font-size: 10px;
    text-align: center;
}
/* for devices having display size 1000px  */
@media screen and (max-width:1200px){
    .image {
        width: 15%;
    }
}
@media screen and (max-width:750px){
    .image {
        width: 20%;
    }
}
@media screen and (max-width:650px){
    .name {
        width: 100%;
    }
    .image{
        width: 150px;
    }
    .prop {
        width: 70%;
    }
    .related {
        width: 100%;
    }
    .related  div{
        width: 31.5%;
        padding-bottom: 10px;
    }
    .social{
        width: 200px;
    }
    .social a {
        width: 23%;
    }
}
@media screen and (max-width:460px) {
    .image{
        width: 120px;
    }
    .name h1{
        font-size: 35px;
    }
    .prop {
        width: 90%;
    }
    .branch h2 {
        font-size: 15px;
    }
    .college h2 {
        font-size: 18px;
    }
    .related div {
        width: 31%;
    }
    .related div a {
        font-size: 23px;
    }
}
@media screen and (max-width:350px){
    .name h1 {
        font-size: 30px;
    }
    .prop {
        width: 95%;
    }
    .branch {
        width: 100%;
    }
    .college {
        width: 100%;
    }
    .branch h2 {
        font-size: 10px;
    }
    .college h2 {
        font-size: 11px;
    }
    .related div {
        width: 30%;
    }
    .related div a {
        font-size: 12px;
    }
}